/* Effective stylesheet produced by snapshot save */
.button { font-size: 0.9em; color: rgb(251, 251, 251); border-radius: 0.15em; border: 1px solid rgb(68, 118, 181); text-align: center; background: rgb(102, 145, 197) none repeat scroll 0% 0%; padding: 0.5em 0.7em; font-weight: bold; display: block; text-decoration: none; outline: 0px none; cursor: pointer; }
.button:hover { background: rgb(84, 131, 190) none repeat scroll 0% 0%; text-decoration: none; }
.button:active { background: rgb(68, 118, 181) none repeat scroll 0% 0%; }
.button.big { font-size: 21px; padding: 0.5em 0.8em; border-radius: 0.2em; }
.button.green { color: rgb(255, 255, 255); background: rgb(34, 153, 85) none repeat scroll 0% 0%; border: 1px solid rgb(29, 132, 73); }
.button.green:hover { background: rgb(29, 132, 73) none repeat scroll 0% 0%; }
.button.green:active { background: rgb(25, 111, 62) none repeat scroll 0% 0%; }
[data-tooltip] { position: relative; z-index: 2; cursor: pointer; }
[data-tooltip]::before, [data-tooltip]::after { visibility: hidden; opacity: 0; pointer-events: none; }
[data-tooltip]:hover::after { position: absolute; top: 150%; left: 50%; margin-top: 5px; margin-left: -55px; padding: 7px; width: 90px; border-radius: 3px; background-color: rgba(51, 51, 51, 0.9); color: rgb(255, 255, 255); content: attr(data-tooltip); text-align: center; font-size: 14px; line-height: 1.2; }
[data-tooltip]::before { position: absolute; top: 150%; left: 50%; margin-left: -5px; width: 0px; border-bottom: 5px solid rgba(51, 51, 51, 0.9); border-right: 5px solid transparent; border-left: 5px solid transparent; content: " "; font-size: 0px; line-height: 0; }
[data-tooltip]:hover::before, [data-tooltip]:hover::after { visibility: visible; opacity: 1; }
.CodeMirror { font-family: monospace; height: 300px; width: 100%; border: 1px solid rgb(221, 221, 221); color: black; }
.CodeMirror-lines { padding: 4px 0px; }
.CodeMirror pre { padding: 0px 4px; }
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler { background-color: white; }
.CodeMirror-gutters { border-right: 1px solid rgb(221, 221, 221); background-color: rgb(247, 247, 247); white-space: nowrap; }
.CodeMirror-linenumber { padding: 0px 3px 0px 5px; min-width: 20px; text-align: right; color: rgb(153, 153, 153); white-space: nowrap; }
.CodeMirror-cursor { border-left: 1px solid black; border-right: medium none; width: 0px; }
@keyframes blink {
  0% {  }
  50% { background-color: transparent; }
  100% {  }
}
@keyframes blink {
  0% {  }
  50% { background-color: transparent; }
  100% {  }
}
@keyframes blink {
  0% {  }
  50% { background-color: transparent; }
  100% {  }
}
.CodeMirror { position: relative; overflow: hidden; background: white none repeat scroll 0% 0%; }
.CodeMirror-scroll { overflow: scroll !important; margin-bottom: -30px; margin-right: -30px; padding-bottom: 30px; height: 100%; outline: medium none; position: relative; }
.CodeMirror-sizer { position: relative; border-right: 30px solid transparent; }
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler { position: absolute; z-index: 6; display: none; }
.CodeMirror-vscrollbar { right: 0px; top: 0px; overflow-x: hidden; overflow-y: scroll; }
.CodeMirror-hscrollbar { bottom: 0px; left: 0px; overflow-y: hidden; overflow-x: scroll; }
.CodeMirror-scrollbar-filler { right: 0px; bottom: 0px; }
.CodeMirror-gutter-filler { left: 0px; bottom: 0px; }
.CodeMirror-gutters { position: absolute; left: 0px; top: 0px; min-height: 100%; z-index: 3; }
.CodeMirror-gutter { white-space: normal; height: 100%; display: inline-block; vertical-align: top; margin-bottom: -30px; }
.CodeMirror-gutter-wrapper { position: absolute; z-index: 4; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; border: medium none !important; }
.CodeMirror-gutter-elt { position: absolute; cursor: default; z-index: 4; }
.CodeMirror-gutter-wrapper { -moz-user-select: none; }
.CodeMirror-lines { cursor: text; min-height: 1px; }
.CodeMirror pre { border-radius: 0px; border-width: 0px; background: transparent none repeat scroll 0% 0%; font-family: inherit; font-size: inherit; margin: 0px; white-space: pre; overflow-wrap: normal; line-height: inherit; color: inherit; z-index: 2; position: relative; overflow: visible; font-variant-ligatures: none; }
.CodeMirror-wrap pre { overflow-wrap: break-word; white-space: pre-wrap; word-break: normal; }
.CodeMirror-code { outline: medium none; }
.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber { box-sizing: content-box; }
.CodeMirror-measure { position: absolute; width: 100%; height: 0px; overflow: hidden; visibility: hidden; }
.CodeMirror-cursor { position: absolute; pointer-events: none; }
.CodeMirror-measure pre { position: static; }
div.CodeMirror-cursors { visibility: hidden; position: relative; z-index: 3; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgb(215, 212, 240) none repeat scroll 0% 0%; }
.CodeMirror span {  }
@media print {
  .CodeMirror div.CodeMirror-cursors { visibility: hidden; }
}
.cm-tab-wrap-hack::after { content: ""; }
@keyframes nprogress-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
